    <div id="carousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/img/slides/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Smart</h1>
              <p class="lead">We develop smart. We have a ginormous arsenal of tools and technologies. We know about a lot of stuff.</p>
              <a class="btn btn-large btn-primary" href="/contact">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/slides/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Better</h1>
              <p class="lead">We know development, start-to-finish, end-to-end. We ensure you get the best technology working for you.</p>
              <a class="btn btn-large btn-primary" href="/contact">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/slides/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Fast</h1>
              <p class="lead">Expertise breeds speed. We are top-of-line, best-in-class developers who know how to launch fast and well.</p>
              <a class="btn btn-large btn-primary" href="/contact">Gimme Some</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/slides/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Innovative</h1>
              <p class="lead">We are hell-bent on quality &amp; your success. We solve problems like nobody in the biz.</p>
              <a class="btn btn-large btn-primary" href="/contact">I <strong>Need</strong> This.</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>
    </div>