<div class="hero-unit">
	<h1>Yer lil buddy for patterns</h1>
	<p>PatternBuddy will help you keep track of patterns you are working on and patterns you want to be working on.  Line by line, PatternBuddy will keep your place in a pattern for you, no printing or marking off required.  Start a project, take a break, search for new projects, start another project; create however you want, runravel will keep it all in order for you.</p>
	<p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>