<%- layout('layout') -%>

<div class="container marketing">
	<div class="row">
	  <div class="span12">
	    <h1>Oh hey, girl. Didn't see you there.</h1>
	    <p>You can <a href="/contact">contact</a> us, but for now we don't have time to work on this site, what with all the awesome we are making in the world. Come back soon for market speak and feelies about our radness.</p>
	  </div>
	</div>
</div>
