<%- layout('layout') -%>

<h1>Privacy</h1>

<p>Basically, we don't want any of your info, at all. If you login using Facebook, github, etc, it's only for identification purposes, we <strong>ABSOLOUTELY</strong> will not do anything with that info, other than log you in, like resell it or post crap to your timeline. If we ask for your email, it's to write you back for correspondence (not a mailing list,) we won't spam you and we won't bother you, ever, promise.</p>
